# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment folders
venv/
env/
.venv/
.env/

# Python cache files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VSCode settings folder
.vscode/

# macOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# IDE project files
.idea/
